# Node
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# Env files
.env
.env*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Test coverage
/coverage

deploy.ps1